    <div class = "w-100 d-flex justify-content-center">
        <img src={{format_largeimg}} alt="Stock technology image">
    </div>

    <h1 class = "ml-5 mt-5 mb-3 display-4 custom-title" id = "post-title">{{title}}</h1>
    <p class = "ml-5 mr-5 mt-5 custom-post">By: {{user.username}}</p>
    <p class = "ml-5 mr-5 mt-5 custom-post">Created on: {{format_date date_created}}</p>
    <p class = "ml-5 mr-5 mt-5 custom-post">{{content}}</p>

    <div>
    <h1 class="ml-5 mt-5 display-4 custom-title">Comments:</h1>

    <div class="card w-75 ml-5 mt-5 mb-5">
        <div class="card-header bg-dark text-white">Comment:</div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
    </div>

    <div class="card w-75 ml-5 mt-5 mb-5">
        <div class="card-header bg-dark text-white">Comment:</div>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </div>
    </div>

<script src = "../js/home.js"></script>
