    <div class = "w-100 d-flex justify-content-center">
        <img src={{format_largeimg}} alt="Stock technology image">
    </div>

    <h1 class = "ml-5 mt-5 mb-3 display-4 custom-title" id = "post-title">{{title}}</h1>
    <p class = "ml-5 mr-5 mt-5 custom-post">By: {{user.username}}</p>
    <p class = "ml-5 mr-5 mt-5 custom-post">Created on: {{format_date date_created}}</p>
    <p class = "ml-5 mr-5 mt-5 custom-post">{{content}}</p>

    <div>
    <h1 class="ml-5 mt-5 display-4 custom-title">Comments:</h1>

    {{#each comments as |comment|}}
         <div class="card w-75 ml-5 mt-5 mb-5">
            <div class="card-header bg-dark text-white">Comment by {{user.username}} on {{format_date comment.date_created}}</div>
            <div class="card-body">
            <p>{{comment.content}}</p>
            </div>
        </div>
    {{/each}}

    <form>
        <div class="card w-75 ml-5 mt-5 mb-5">
            <label for="new-comment" class="card-header bg-dark text-white">New Comment:</label>
            <div class="card-body">
                <input class= "form-control" id = "user-comment" aria-describedby="comment"
                placeholder="Enter a comment...">
                <button type="submit" class="btn btn-primary mt-3" id = "comment-btn">Submit</button>
            </div>
        </div>
    </form>

<script src = "../js/singlepost.js"></script>
